## **Reportes utilizando la tabla `UNIVERSAL.TRANSACCION_ENRIQUECIDA`**

##### **Reporte 1** - Filtrar y almacenar las transacciones realizadas por mayores de 50 años

In [ ]:
edad = 50

dfReporte1 = spark.sql(f"""
SELECT 
    T.* 
FROM 
    UNIVERSAL.TRANSACCION_ENRIQUECIDA T
WHERE 
    T.EDAD_PERSONA > {edad}
""")

dfReporte1.show()

##### **Reporte 2** - Transacciones realizadas por mayores de 25 años, cuyo nombre empiece con la letra "a"

In [ ]:
# "UPPER('{var:inicial}')" El UPPER lo utilizamos para asegurarnos de que sea Mayuscula
# dado que el parametro quizas alguien lo coloque como inicial = "a".
inicial = "A"
edad = 25

dfReporte2 = spark.sql(f"""
SELECT 
    T.* 
FROM 
    UNIVERSAL.TRANSACCION_ENRIQUECIDA T
WHERE
    T.EDAD_PERSONA > {edad} AND
    UPPER(SUBSTRING(T.NOMBRE_PERSONA, 1, 1)) = UPPER('{inicial}')
""")

dfReporte2.show()

##### **Reporte 3** - Transacciones realizadas cuyo monto de transacción sea al menos el 25% del salario de la persona que la realizó

In [ ]:
porcentaje = 0.25

dfReporte3 = spark.sql(f"""
SELECT 
    T.* 
FROM 
    UNIVERSAL.TRANSACCION_ENRIQUECIDA T
WHERE 
    T.MONTO_TRANSACCION >= T.SALARIO_PERSONA*{porcentaje}
""")

dfReporte3.show()

##### **Reporte 4** - Transacciones realizadas en la misma empresa donde la persona trabaja

In [ ]:
dfReporte4 = spark.sql(f"""
SELECT 
    T.* 
FROM 
    UNIVERSAL.TRANSACCION_ENRIQUECIDA T
WHERE 
    T.TRABAJO_PERSONA = T.EMPRESA_TRANSACCION
""")

dfReporte4.show()

##### **Reporte 5**

Con el "Reporte 1" generar el "Reporte 5" que agrupe las transacciones para cada persona y muestre los siguientes campos:

| CAMPO  | TIPO  | DESCRIPCIÓN  |
|---|---|---|
| NOMBRE_PERSONA  | STRING  | Nombre de la persona  |
| SUMA_TRANSACCIONES  | DOUBLE  | Suma de todos los montos de las transacciones realizadas por la persona  |
| MAYOR_TRANSACCION  | DOUBLE  | Mayor monto gastado de todas las transacciones realizadas por la persona  |
| MENOR_TRANSACCION  | DOUBLE  | Menor monto gastado de todas las transacciones realizadas por la persona  |
| PROMEDIO_TRANSACCIONES  | DOUBLE  | Promedio de montos gastado de todas las transacciones realizadas por la persona  |

In [ ]:
dfReporte5 = spark.sql(f"""
SELECT 
    T.NOMBRE_PERSONA NOMBRE_PERSONA,
    SUM(T.MONTO_TRANSACCION) SUMA_TRANSACCIONES,
    MAX(T.MONTO_TRANSACCION) MAYOR_TRANSACCION,
    MIN(T.MONTO_TRANSACCION) MENOR_TRANSACCION,
    AVG(T.MONTO_TRANSACCION) PROMEDIO_TRANSACCIONES
FROM 
    UNIVERSAL.TRANSACCION_ENRIQUECIDA T
GROUP BY
    T.NOMBRE_PERSONA
""")

dfReporte5.show()